header {
  text-align: center;
}

header h1 {
  width: 610px;
  border: 7px darkturquoise ridge;
  background-color: powderblue;
  margin: auto;
}

header h4 {
  letter-spacing: 5px;
  color: skyblue;
  opacity: 0.75;
}

.aside {
  float: left;
  border: 9px lightgray inset;
  width: 15%;
  height: 587px;
  padding: 10px;
  background-color: paleturquoise;
  opacity: 0.75;
  position: relative;
  top: 11px;
  left: 16px;
}

.aside h3 {
  margin-left: 20px;
}

.image {
  display: block;
  border-radius: 50%;
  border: 5px springgreen solid;
  float: right;
  width: 15%;
  position: relative;
  bottom: 100px;
  right: 10px;
}

#first .square {
  background-color: pink;
  border: 9px darkred double;
  padding: 10px;
  margin:10px;
  width: 75%;
  float: right;
}

#second .square {
  background-color: mediumspringgreen;
  border: 9px seagreen double;
  padding: 10px;
  margin: 10px;
  width: 75%;
  float: right;
}

#third .square {
  background-color: lightsalmon;
  border: 9px chocolate double;
  padding: 10px;
  margin: 10px;
  width: 75%;
  float: right;
}

.rating {
  float: left;
  border: 9px  mediumorchid outset;
  width: 15%;
  height: 90px;
  padding: 10px;
  background-color: rgba(255, 253, 158, 0.75);
  opacity: 0.75;
  position: relative;
  top: 12px;
  left: 16px;
}

footer {
  color: #07CEA0;
  opacity: 0.5;
  position: relative;
  top: 350px;
  left: 570px;
  margin: auto;
}