header {
  text-align: center;
}

header h1 {
  width: 610px;
  border: 7px darkturquoise ridge;
  background-color: powderblue;
  margin-left: auto;
}

header h4 {
  letter-spacing: 5px;
  color: skyblue;
  opacity: 0.75;
}

.aside {
  float: left;
  border: 2px solid gray;
  margin-right: auto;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 5px springgreen solid;
}

#first .square {
  background-color: pink;
  border: 9px darkred double;
  padding: 10px;
  margin: 10px;
}

#second .square {
  background-color: mediumspringgreen;
  border: 9px seagreen double;
  padding: 10px;
  margin: 10px;
}